
* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/disney_back.png");
	height: 100%;
	width: 100%;
}

h1, h2 {
	text-align: center;
}

#trivia {
	text-align: center;
}

#wrapper {
	background-color: skyblue;
	margin-top: 15px;
	padding-bottom: 15px;
	font-family: 'Coming Soon', cursive;
}

button {
	width: 20%;
	height: 10%;
}



