
* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/disney_back.png");
	height: 100%;
	width: 100%;
}

#wrapper {
	background-color: skyblue;
	margin-top: 15px;
	padding-bottom: 15px;
	font-family: 'Coming Soon', cursive;
}

h1 {
	text-align: center;
}

#container {
	font-size: 20px;
	text-align: center;
}

#start {
	text-align: center;
	margin: 0 auto 0 auto;
	margin-bottom: 20px;
}

#timer {
	font-size: 25px;
}

#holder {
	font-size: 25px;
}

#correct-answer {
	font-size: 25px;
}

#answer-choices {
	font-size: 25px;
}


#correct-answers {
	font-size: 25px;
}

#incorrect-answers {
	font-size: 25px;
}

#unanswers-answers {
	font-size: 25px;
}

.image-class {
	max-width: 400px
}


