
* {
	box-sizing: border-box;
}


body {
	background-image: url("../images/disney_back.png");
	height: 100%;
	width: 100%;
}

#wrapper {
	background-color: white;
	margin-top: 15px;
	padding-bottom: 15px;
}

h1 {
	text-align: center;
	font-family: cursive;
}

#start {
	text-align: center;
	margin: 0 auto 0 auto;
	margin-bottom: 20px;
}

#timer {
	font-size: 20px;
	text-align: center;
}

#holder {
	font-size: 20px;
	text-align: center;
}

#correct-answer {
	font-size: 20px;
	text-align: center;
}

.image-class {
	max-width: 200px
}

